# common.env.sample can be used to create common.env file.
# Use common.env file to change default settings.
# If exists it is executed by bash with source command during execution of other scripts.
# Save this sample file as common.env,
# uncomment required variables and set proper values.
# Values with lists in this file are comma-separated.

# ---
# Set this to simplify configuration of single node mode
# Default: IP of the NIC used as default gateway
#HOST_IP=10.0.2.15

# ---
# Set this to auto configure other variables only
# Default: $HOST_IP
#_CONTRAIL_REGISTRY_IP=10.0.2.15

# ---
# Contrail version to pull/tag containers, to get packages
# Default: 4.1.0.0-6
#CONTRAIL_VERSION=4.1.0.0-6

# ---
# Address of docker regisry to pull/push containers
# Default: $_CONTRAIL_REGISTRY_IP:5000
#CONTRAIL_REGISTRY=10.0.2.15:5000

# ---
# Url of rpm repository to get Contrail packages
# Default: http://$_CONTRAIL_REGISTRY_IP/$CONTRAIL_VERSION
#CONTRAIL_REPOSITORY=http://10.0.2.15/contrail-$CONTRAIL_VERSION

# ---
# URL or file path to Contrails' install packages.
# It can be a rpm (as it present in Contrail's build system).
# Or it can be just a tar archive with packages.
#CONTRAIL_INSTALL_PACKAGES_URL="https://s3-us-west-2.amazonaws.com/contrailrhel7/contrail-install-packages-4.1.0.0-6~newton.el7.noarch.rpm"

# ---
# List of IPs of controller nodes (config+control+web+analytics+all 3rd party services).
# If more granular tuning is required then redefine a particular
# type of node via appropriate _NODES (see below).
# Default: $HOST_IP
#CONTROLLER_NODES=10.0.2.15

# ---
# List of IPs of compute nodes (agent).
# Default: $CONTROLLER_NODES
#AGENT_NODES=10.0.2.15,10.0.2.16

# ---
# Lists of IPs of nodes dedicated to custom roles to use for K8s manifest
# Default: $HOST_IP
#CONFIG_NODES=10.0.2.15
#CONTROL_NODES=10.0.2.15
#CONFIGDB_NODES=10.0.2.15
#ZOOKEEPER_NODES=10.0.2.15
#RABBITMQ_NODES=10.0.2.15
#WEBUI_NODES=10.0.2.15
#CONTROL_NODES=10.0.2.15
#ANALYTICS_NODES=10.0.2.15
#ANALYTICSDB_NODES=10.0.2.15
#REDIS_NODES=10.0.2.15
#KAFKA_NODES=10.0.2.15

# ---
# Zookeeper client ports range
# by default it's 2888:3888
# ZOOKEEPER_PORTS=2888:3888

# ---
# RabbitMQ Port used for inter-node and CLI tool communition.
# RABBITMQ_NODE_PORT=5672

# ---
# VIP addresses of Contrail services
# Default: first IP of appropriate list
#ANALYTICS_API_VIP=10.0.2.15
#CONFIG_API_VIP=10.0.2.15
#WEBUI_VIP=10.0.2.15

# ---
# Physical network parameter to setup Contrail on
# Default: NIC & gateway are used as in default route
#PHYSICAL_INTERFACE=
#VROUTER_GATEWAY=

# ---
# BGB options
# Cluster ASN number
#BGP_ASN=64512
# AUto mesh option
#BGP_AUTO_MESH='true'

# ---
# RNDC key for Contrail DNS and Contrail named services
#RNDC_KEY="xvysmOR8lnUQRBcunkC6vg=="

# ---
# Level of logging
#LOG_LEVEL=SYS_NOTICE

# ---
# Authentication parameters
# CLOUD_ORCHESTRATOR is an orchestration system.
# for now could be none / openstack
#CLOUD_ORCHESTRATOR='none'
# AUTH_MODE could be noauth / keystone. It'll be set to keystone
# automatically if CLOUD_ORCHESTRATOR is openstack.
#AUTH_MODE='noauth'
# AAA_MODE could be no-auth / cloud-admin / rbac
#AAA_MODE='no-auth'

# ---
# Contrail packages depends on OpenStack package.
# The version is used to download specific version
# of Contrail packages archive.
# Also the version is used to point to specific OpenStack repo.
#OPENSTACK_VERSION=newton

# ---
# Address of K8S API server
#KUBERNETES_API_SERVER=$DEFAULT_LOCAL_IP

#---
# Map of Kubernetes node names on their IP addresses used for Contrail.
# May be useful for multi-NICs servers.
# Default: none (autodetection)
#declare -A KUBERNETES_NODES_MAP=(
#  ["ip-172-31-24-31.ec2.internal"]=172.31.24.31
#  ["ip-172-31-32-215.ec2.internal"]=172.31.32.215
#)

