# Use common.env file to change default settings.
# If exists it is executed by bash with source command during execution of other scripts.
# Save this sample file as common.env,
# uncomment required variables and set proper values.

# ---
# Set this to simplify configuration of single node mode
# Default: IP of the NIC used as default gateway
#HOST_IP=10.0.2.15

# ---
# Set this to auto configure other variables only
# Default: $HOST_IP
#_CONTRAIL_REGISTRY_IP=10.0.2.15

# ---
# Contrail version to pull/tag containers, to get packages
# Default: 4.0.1.0-3
#CONTRAIL_VERSION=4.0.1.0-32

# ---
# Address of docker regisry to pull/push containers
# Default: $_CONTRAIL_REGISTRY_IP:5000
#CONTRAIL_REGISTRY=10.0.2.15:5000

# ---
# Url of rpm repository to get Contrail packages
# Default: http://$_CONTRAIL_REGISTRY_IP/$CONTRAIL_VERSION
#CONTRAIL_REPOSITORY=http://10.0.2.15/contrail-$CONTRAIL_VERSION

# ---
# Lists of IPs of nodes dedicated to custom roles to use for K8s manifest
# Default: $HOST_IP
#CONFIG_NODES=10.0.2.15
#CONTROLLER_NODES=10.0.2.15
#ANALYTICS_NODES=10.0.2.15
#ANALYTICSDB_NODES=10.0.2.15
#API_SERVER=10.0.2.15

# ---
# Physical network interface to setup Contrail on
# Default: NIC used as default gateway
#PHYSICAL_INTERFACE=enp0s3
